 :root {
   --nitecolor: #7cc576;
   --nitetext: font-family:
 }


 .blacksandBG {
   background-image: url(https://images.unsplash.com/photo-1545486332-9e0999c535b2?q=80&w=3387&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   background-size: cover;
   min-height: 65dvh;
 }

 .logolarge {
   font-size: 12em;
 }

 .masterbg {
   background-color: #f5f5f5;
 }